{% extends "layout.html" %}

{% block content %}
    <div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-4" >
            <a class="btn btn-success" style="margin: 10px" href="/club/add" target="_blank">
                <i class="bi bi-plus-circle-fill"></i>
                添加社团
            </a>
            </div>
            <div class="col-md-5 col-sm-8 ">
                <form method="get">
                <div class="d-flex flex-row">
                    <input class="form-control me-2" type="search" name="q" value="{{ search_data }}" style="margin: 10px" placeholder="搜索社团名称" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" style="margin: 10px; width: 100px"><strong>搜索</strong></button>
                </div>
                </form>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark">
                <i class="bi bi-calendar2-event-fill"></i>
                <strong>社团列表</strong>
            </li>
            <li class="list-group-item">
                <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">社团名称</th>
                          <th scope="col">社长</th>
                          <th scope="col">联系电话</th>
                          <th scope="col">成立日期</th>
                          <th scope="col">状态</th>
                          <th scope="col">操作</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for obj in queryset %}
                        <tr>
                          <th scope="row">{{ obj.club_id }}</th>
                          <td>{{ obj.name}}</td>
                          <td>{{ obj.president|default:"未设置"}}</td>
                          <td>{{ obj.contact_phone|default:"未设置"}}</td>
                          <td>{{ obj.established_date|default:"未设置"}}</td>
                          <td>{{ obj.get_status_display}}</td>
                          <td>
                              <a class="btn btn-primary btn-sm" href="/club/{{ obj.club_id }}/edit">编辑</a>
                              <a class="btn btn-danger btn-sm" href="/club/delete/?nid={{ obj.club_id }}">删除</a>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
            </li>
        </ul>
        <div style="display: flex; justify-content: center;">
                    {{ page_nav_string }}
        </div>
    </div>
</div>
{% endblock %}

