{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>管理系统</title>
    <link rel="stylesheet" href="{% static "bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "MDB5-STANDARD-UI-KIT-Free-6.2.0/css/mdb.min.css" %}">

    <link rel="stylesheet" href="{% static "bootstrap-icons-1.10.4/font/bootstrap-icons.css" %}">
    <link rel="stylesheet" href="{% static "fontawesome-free-6.4.0-web/css/fontawesome.min.css" %}">
    <link rel="stylesheet" href="{% static "fontawesome-free-6.4.0-web/css/brands.min.css" %}">
    <link rel="stylesheet" href="{% static "fontawesome-free-6.4.0-web/css/solid.min.css" %}">

    {% block css %}{% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">高校社团成员管理系统</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if request.session.info %}
        <li class="nav-item">
          <a class="nav-link" href="/">仪表盘</a>
        </li>
        {% if request.session.info.type == "admin" %}
        <li class="nav-item"><a class="nav-link" href="/club/list">社团管理</a></li>
        <li class="nav-item"><a class="nav-link" href="/member/list">成员管理</a></li>
        <li class="nav-item"><a class="nav-link" href="/activity/list">活动管理</a></li>
        <li class="nav-item"><a class="nav-link" href="/registration/list">活动报名</a></li>
        <li class="nav-item"><a class="nav-link" href="/recruitment/list">招新管理</a></li>
        <li class="nav-item"><a class="nav-link" href="/announcement/list">公告管理</a></li>
        {% elif request.session.info.type == "president" %}
        <li class="nav-item"><a class="nav-link" href="/club/list">本社团</a></li>
        <li class="nav-item"><a class="nav-link" href="/club/transfer/">转让社长</a></li>
        <li class="nav-item"><a class="nav-link" href="/member/list">成员管理</a></li>
        <li class="nav-item"><a class="nav-link" href="/activity/list">活动管理</a></li>
        <li class="nav-item"><a class="nav-link" href="/registration/list">活动报名</a></li>
        <li class="nav-item"><a class="nav-link" href="/recruitment/list">招新管理</a></li>
        <li class="nav-item"><a class="nav-link" href="/announcement/list">公告管理</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="/member/list">成员列表</a></li>
        <li class="nav-item"><a class="nav-link" href="/member/profile/">我的信息</a></li>
        <li class="nav-item"><a class="nav-link" href="/member/my-registrations/">我的报名</a></li>
        <li class="nav-item"><a class="nav-link" href="/member/activities/">可报名活动</a></li>
        <li class="nav-item"><a class="nav-link" href="/announcement/list">公告</a></li>
        {% endif %}
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if request.session.info %}
              {% if request.session.info.type == "admin" %}
                <div class="bg-primary rounded-circle d-inline-flex align-items-center justify-content-center me-2" style="width: 32px; height: 32px;">
                  <i class="fas fa-user-shield text-white" style="font-size: 16px;"></i>
                </div>
              {% elif request.session.info.avatar %}
                <img src="{{ request.session.info.avatar }}" alt="头像" class="rounded-circle me-2" style="width: 32px; height: 32px; object-fit: cover;">
              {% else %}
                <div class="bg-secondary rounded-circle d-inline-flex align-items-center justify-content-center me-2" style="width: 32px; height: 32px;">
                  <i class="fas fa-user text-white" style="font-size: 16px;"></i>
                </div>
              {% endif %}
              <span>
                {{ request.session.info.name }}
                {% if request.session.info.type == "admin" %}<span class="badge bg-secondary ms-1">管理员</span>{% endif %}
                {% if request.session.info.type == "president" %}<span class="badge bg-primary ms-1">社长</span>{% endif %}
                {% if request.session.info.type == "member" %}<span class="badge bg-info ms-1">成员</span>{% endif %}
              </span>
            {% else %}
              请登录
            {% endif %}
          </a>
          <ul class="dropdown-menu">
                {% if not request.session.info.name %}
            <li><a class="dropdown-item" href="/login/">登录</a></li>
                {% else %}
            {% if request.session.info.type != "admin" %}
            <li><a class="dropdown-item" href="/member/profile/">我的信息</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="/profile/{{ request.session.info.id }}/">个人主页</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout/">注销</a></li>
                {% endif %}
                {% if request.session.info.type == "admin" %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/myadmin/list">管理员账户</a></li>
                {% endif %}
          </ul>
        </li>
      </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link disabled">敬请期待</a>
            </li>
        </ul>
{#      <form class="d-flex" role="search">#}
{#          <input class="form-control me-2" type="search" placeholder="搜索" aria-label="Search">#}
{#          <button class="btn btn-outline-success " type="submit" style="width: 100px;"><strong>搜索</strong></button>#}
{#      </form>#}
    </div>
  </div>
</nav>

<div>
        {% block content %}{% endblock %}
</div>

<script src="{% static "jquery-3.6.4.min.js" %}"></script>
<script src="{% static "bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.js" %}"></script>
<script src="{% static "MDB5-STANDARD-UI-KIT-Free-6.2.0/js/mdb.min.js" %}"></script>

{% block js %}{% endblock %}
</body>
</html>